* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-bg);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  /* Nav bar color  */
  .gradient__bg 
  
{

  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(137, 199, 0, 1) 0%, rgba(70, 99, 0, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(137, 199, 0, 1) 0%, rgba(70, 99, 0, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(137, 199, 0, 1) 0%, rgba(70, 99, 0, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#466300', endColorstr='#89C700', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(137, 199, 0, 1) 0%, rgba(70, 99, 0, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(137, 199, 0, 1) 0%, rgba(70, 99, 0, 1) 100%);

}


.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }

  .flip-2-hor-top-1 {
	-webkit-animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


 @-webkit-keyframes flip-2-hor-top-1 {
    0% {
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes flip-2-hor-top-1 {
    0% {
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }
  