.land__header {
    display: flex;
    flex-direction: row;
}

.land__header-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.land__header-content h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.land__header-content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: white;

    margin-top: 1.6rem;
}

.land__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.land__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: white;
    border: 2px solid #99cbef;
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.land__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--gradient-text);
    border: 2px solid var(--gradient-text);
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.land__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.land__header-image img {
    width: 110%;
    height: 125%;
}